aniso8601
blinker
click
colorama
Flask
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask-Testing
greenlet
iniconfig
itsdangerous
Jinja2
MarkupSafe
packagin
pluggy
pytest
pytest-flask
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
gunicorn